     body{
            margin: 0;
             background:  rgb(0, 0, 0);
            }
        div.content{
            display: block;
            float: left;
            text-align: center;
                }
                div#header{
				
				padding: 20px; 
                    width: 99%;
                    overflow: auto;
                    background: rgb(4, 3, 15);
                    font-size: 70px;
                    color: rgb(201, 148, 3);
                }
                .logo img{
                    left: 50px;
                    width: 120px;
                    height: 100px;
                    position: absolute;
                    margin-top: 10px;
                    margin-left: 200px;
                }
                div#frame {
                    display: block;
                    position: relative;
                    width: 90%;
                    margin-top: 40px;
                    margin-left: 60px;
                    padding: 20px; 
                    opacity: 0.7;
                    background: rgb(1, 26, 3);
                    overflow: auto;
                    color: whitesmoke;
                    font-size: 50px;
                }
ul li {
    list-style-type: none;
    display: inline;
    margin: 10px;
    
}
ul li img {  
    top: -50px;
	width: 30%;
	transition: all ease 0.5s;
	transition: all ease 0.5s;
	transform: scale(1);

  width: 250px;

}
div#frame img:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
                div#footer{
				padding: 10px; 
                    width: 99%;
                    background: rgb(4, 3, 15);
                    font-size: 20px;
                    color: rgb(201, 148, 3);
					margin-top: 100px;
					float: bottom;
                }
                